{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jani's Space</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'D:\PORTFOLIO - Copy\project\static\assets\img\letter-j.png' %}" rel="icon">
  <link href="{% static 'D:\PORTFOLIO - Copy\project\static\assets\img\letter-j.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'D:\PORTFOLIO - Copy\project\static\assets\css\style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'D:\PORTFOLIO - Copy\project\static\assets\img\profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Janiar Rahma Putri</a></h1>
        <div class="social-links mt-3 text-center">
            <a href="https://youtube.com/@janiarrahmaputri4873?si=gJJo2SVPAMNzqorJ" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
            <a href="https://github.com/jaaaaniiiii/" target="_blank" class="facebook"><i class="bx bxl-github"></i></a>
            <a href="https://instagram.com/jaaaanniiiii/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/janiarrahmaputri/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
            <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
            <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
            <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Janiar Rahma Putri</h1>
      <p>I'm <span class="typed" data-typed-items="Student, Freelancer, Writer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Janiar Rahma Putri adalah dari Telkom University dengan prodi S1 - Teknik Telekomunikasi yang berumur 19 Tahun dan lahir di Bandung. Janiar memiliki keterampilan organisasi, manajemen waktu, dan komitmennya yang berpegang teguh pada prinsip dan berfokus dalam meraih hal yang ingin dicapai sebagai generasi penerus bangsa yang Adaptif, Tangguh, dan Kreatif.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'D:\PORTFOLIO - Copy\project\static\assets\img\profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Scholar &amp; Telecommunications Engineering Enthusiast.</h3>
            <p class="fst-italic">
              Salah satu mahasiswa aktif di jurusan S1 Teknik Telekomunikasi di Telkom University
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 Januari 2005</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+62 811 2166 033</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kota Bandung, Indonesia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Undergraduate</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>janiarrahmaputri@gmail.com</span></li>
                </ul>
              </div>
            </div>
            <p>
              "If you can't do great things, Do small things in a great way." -Napoleon Hill
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>she takes great pains to profit.  She needs result from something that actually drives her away.  Let them be what they want.  Anyone whom anyone desires.  And no one who hinders receives the others.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Strong person</strong> meskipun sering dibantai tugas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="90" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> dikerjakan dengan semangat dan karena itu penting</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Analyzer</strong> perfeksionis dalam menganalisis</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> menghadapi tantangan dengan tekad yang tinggi</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>"Tidak ada investasi yang memberikan pengembalian yang lebih tinggi daripada investasi dalam peningkatan keterampilan." - Benjamin Franklin</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="skill-title">Hard Skill</h3>
            <div class="progress">
              <span class="skill">MS WORD <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CANVA <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">GRAPHIC DESIGN <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
                <span class="skill">DJANGO <i class="val">50%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            
              <div class="progress">
                <span class="skill">DOCKER <i class="val">53%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="53" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="skill-title">Soft Skill</h3>
            <div class="progress">
              <span class="skill">PUBLIC SPEAKING <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CREATIVE <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">TEAM WORKS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
                <span class="skill">TIME MANAGEMENT <i class="val">79%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JUDGEMENT <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Sebagai Sarjana Teknik telekomunikasi Enthusiast, saya memiliki kemampuan antusiasme yang tinggi untuk mengaplikasikan keterampilan saya dalam lingkungan yang profesional.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Janiar Rahma Putri</h4>
              <p><em>Individu yang berkomitmen untuk memberikan kontribusi maksimal dalam mencapai tujuan bersama melalui kreativitas, kerja keras, dan kemampuan analitis yang kuat.</em></p>
              <ul>
                <li>Kota Bandung, Jawa Barat, Indonesia</li>
                <li>(+62) 811-2166-033</li>
                <li>janiarrahmaputri@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Undergraduate &amp; Telecommunications Engineering</h4>
              <h5>2023 - Present </h5>
              <p><em>Bojongsoang, Jawa Barat, Indonesia</em></p>
              <p>Mahasiswa S1 Teknik Telekomunikasi angkatan 2023/2024</p>
            </div>
            <div class="resume-item">
              <h4>SMA PGII 1 BANDUNG &amp; IPA</h4>
              <h5>2020 - 2023</h5>
              <p><em>Kota Bandung, Jawa Barat, Indonesia</em></p>
              <p>Salah satu lulusan siswa/i terbaik dengan nilai akhir: 90,25</p>
            </div>
            <div class="resume-item">
               <h4>SMPN 2 SAMBAS </h4>
               <h5>2017 - 2020</h5>
               <p><em>Sambas, Kalimantan Barat, Indonesia</em></p>
            </div>
            <div class="resume-item">
                <h4>SDN 6 SAMBAS </h4>
                <h5>2011 - 2017</h5>
                <p><em>Sambas, Kalimantan Barat, Indonesia</em></p>
             </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Netschool (Adaptive Network Labolatory) </h4>
              <h5>2023</h5>
              <p><em>Telkom University</em></p>
              <ul>
                <li>Learn basic Networking material (Cisco Packet Tracer, Subnetting, Protocol, IP addressing, Switching, Routing).</li>
                <li>Learn basic Python material (Looping, Operation, Conditioning, Basic Syntax, Dictionary, Function Library, List, Tuple, Class and Object, Inheritance). </li>
                <li>Learn Linux Basic Administration (DNS Server, Webserver, Monitoring)</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Kabinet Muda as Public Relations Trainee SEARCH</h4>
              <h5>2023</h5>
              <p><em>Telkom University</em></p>
              <ul>
                <li>Designing the feed on SEARCH's official SEARCH Officials Instagram</li>
                <li>External and Social Media Handling in SEARCH Telkom University</li>
              </ul>
            </div>
            <div class="resume-item">
                <h4>Legal and Human Rights Ambassador of West Java in FPSH</h4>
                <h5>2020-2022</h5>
                <p><em>Bandung, Jawa Barat, Indonesia</em></p>
                <ul>
                  <li>Public Education: Promote awareness and understanding of legal rights and human rights among the public</li>
                  <li>Collaboration: Collaborate with local, national, and international organizations to enhance human rights initiatives</li>
                </ul>
              </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <!-- ======= Book Menu Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Portfolio</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="{% static 'D:\PORTFOLIO - Copy\project\static\assets\img\Book-img.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>DREAMIST OF THE STARS</h3>
              <p class="fst-italic">
                Best Portofolio
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class=""></i> <strong>Tahun Terbit:</strong> <span>14 November 2022</span></li>
                    <li><i class=""></i> <strong>Penulis:</strong> <span>Janiar Rahma Putri</span></li>
                    <li><i class=""></i> <strong>Kategori:</strong> <span class="badge rounded-pill text-bg-primary">Fantasi</span><span class="badge rounded-pill text-bg-secondary">Drama</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class=""></i> <strong>Jumlah Halaman:</strong> <span>258 Halaman</span></li>
                    <li><i class=""></i> <strong>Publish:</strong> <span>SMA PGII 1 Bandung</span></li>
                    <li><i class=""></i> <strong>Status Buku:</strong> <span class="badge rounded-pill text-bg-success">Last Publish in December 2023</span></li>
                  </ul>
                </div>
              </div>
              <p></p>
              <p class="fst-italic">
                “It was a really great story, isn’t that right?”
              </p>
              <br>
            <p>Dreamist of the Stars adalah buku pertama yang ditulis oleh Janiar Rahma Putri pada semasa SMA nya. Buku ini menceritakan seorang gadis dan para teman-temaannya yang sedang berjuang bertahan hidup di dunia yang sebentar lagi hancur. Lalu, bagaimana nasib gadis itu?</p>
          </div>
  
        </div>
        <br>
          <div class="section-title">
            <h2>More Info!</h2>
          </div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">ALL</li>
                <li data-filter=".filter-deskripsi">DESCRIPTION</li>
                <li data-filter=".filter-about">ABOUT WRITER</li>
                <li data-filter=".filter-review">REVIEWS</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-deskripsi">
              <div class="portfolio-wrap">
                <p class="fst-italic"> Kisah ini menceritakan seorang gadis yang duduk di bangku SMA. Dia adalah seorang anak yang pendiam. Tetapi, kehidupannya langsung berubah seketika sejak ia membaca sebuah novel. Yang awal kehidupannya adalah bergenre realistis, sekarang berubah menjadi genre Fantasi dan Post-Apocalypse.</p>
                <p class="fst-italic"> Disisi lain, gadis ini ternyata bukanlah manusia biasa semenjak ia mengetahui kenapa kehidupannya berubah. Akankah dia tetap bertahan hidup di dunia yang baru tersebut?</p>
                <div class="row">
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-about">
              <div class="portfolio-wrap">
                <p class="fst-italic"> Janiar Rahma Putri, biasa dipanggil Jani. Perempuan kelahiran Bandung, 26 Januari 2005. Dia memounyai hobi melukis, menggambar, membaca, dan mendengarkan musik. Ia merupakan alumni pelajar dari SMA PGII 1 Bandung, jurusan IPA.</p>
                <p class="fst-italic"> Perempuan satu ini mulai menyelami dunia penulis pada tahun 2022. Novel Dreamist of the Stars adalah novel pertamanya. Dimulai dari situlah, dia menjadi penulis untuk novelnya sendiri.</p>
                <p class="fst-italic"> Novel Dreamist The Stars merupakan bagian dari referensi novel Omnisient Reader’s Viewpoint karya Sing n Song. Dia sangat menyukai karya ini, lalu sebagai bentuk referensi. Dia membuat novelnya menjadi bagian dimensi paralel novel Omniscient Reader’s Viewpoint dan imajinasinya.</p>  
                <div class="row">
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-review">
              <div class="portfolio-wrap">
                <p class="fst-italic"> "Salah satu siswa dengan progress pembuatan novel tercepat di angkatannya. Dan menjadi orang pertama dengan perilisan novel dengan halaman berjumlah 200+. Dia memuliki potensi menjadi penulis hebat dengan karya yang diciptakannya" -Guru Bahasa Indonesia SMA PGII 1 Bandung</p>
                <p class="fst-italic"> "Novel ini sangat bagus sekali untuk para penyuka kehidupan dunia fantasi." -Naila</p>
                <div class="row">
              </div>
            </div>
          </div>
  
        </div>
      </section>

      <!-- ======= Book Menu Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Best Achievement</h2>
          </div>
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="{% static 'D:\PORTFOLIO - Copy\project\static\assets\img\Achievement.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>DUTA HUKUM DAN HAM JAWA BARAT 2020-2022</h3>
              <p class="fst-italic">
                Forum Pelajar Sadar Hukum dan Hak Asasi Manusia di Daerah Provinsi Jawa Barat
              </p>
            <p></p>
            <p class="fst-italic">
              Salah satu anggota Duta Hukum dan HAM Jawa Barat 2020-2022
            </p>
            <br>
          <p>Duta Hukum dan HAM Jawa Barat adalah kegiatan organisasi sosial yang dilaksanakan oleh Forum Pelajar Sadar Hukum dan HAM Jawa Barat. FPSH HAM atau Forum Pelajar Sadar Hukum dan Hak Asasi Manusia di Daerah Provinsi Jawa Barat mempunyai tugas melaksanakan pembinaan, penelitian, dan pengembangan, pelatihan, evaluasi, kerjasama serta komunikasi mengenai Kesadaran Hukum dan Hak Asasi Manusia di wilayah Daerah Provinsi Jawa Barat sebagaimana termaktub dalam Keputusan Gubernur Jawa Barat Nomor 180/Kep.1341-Disdik/2018.</p>
          <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="\static\assets\Sertifikat 1200-484_sign_sign.pdf">e-Certificate</a>
        
        </div>

      </div>
      <!-- End Information Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Jika ada yang ingin ditanyakan. Silahkan hubungi kontak saya.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="d-flex justify-content-center fs-2 gap-4 ">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kota Bandung, Jawa Barat, Indonesia 40162</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>janiarrahmaputri@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+62 811 2166 033</p>
              </div>
            </div>

          </div>
          <section id="contact">  
            <section class="bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Keep In Touch</span></h2>
                                
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a href="https://youtube.com/@janiarrahmaputri4873?si=gJJo2SVPAMNzqorJ" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
                                    <a href="https://github.com/jaaaaniiiii/" target="_blank" class="facebook"><i class="bx bxl-github"></i></a>
                                    <a href="https://instagram.com/jaaaanniiiii/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/janiarrahmaputri/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>JRP</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="">Janiar Rahma Putri</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>